.poster{
    font-family:"Libre Baskerville",serif ;
    text-align: center;


}
#img{
    padding:10px;
    height:550px;
    width:375px;
    border-radius:5px;
    margin-bottom: 0%;
    border:30px solid rgb(156, 129, 129);
    
    
}
h1{
    margin-bottom:2px;
    font-size:2rem;
    text-transform: uppercase;
}
html{
    background-color: antiquewhite;
}
